<header class="bg-White z-10  w-full flex flex-row justify-between items-center p-6 
  pl-20 pr-20 shadow-xl mobile:pl-10 mobile:pr-10"
  [class.bg-DarkBlue]="themeService.isDarkTheme"
  [class.bg-White]="!themeService.isDarkTheme">
  <h1 class="font-nunito font-bold text-lg"
  [class.text-White]="themeService.isDarkTheme"
  [class.text-VeryDarkBlueL]="!themeService.isDarkTheme">
    Where in the world
  </h1>
  <div onselectstart="return false" class="toggletheme flex flex-row 
  justify-center items-center gap-2 hover:cursor-pointer"
  (click)="changeTheme()">
    <i onselectstart="return false" class="theme-icon fas "
    [class.text-White]="themeService.isDarkTheme"
    [ngClass]="{'fa-sun': !themeService.isDarkTheme, 'text-VeryDarkBlueL': !themeService.isDarkTheme}"
    [class.fa-moon]="themeService.isDarkTheme"
    >
    </i>
    <p onselectstart="return false" 
    [class.text-White]="themeService.isDarkTheme"
    [class.text-VeryDarkBlueL]="!themeService.isDarkTheme">{{theme}}</p>

  </div>

</header>




<router-outlet class="min-h-screen">
    
</router-outlet>
